[data-color="red"]			{	background-color:	#f44336 !important;	color:	rgba(255,255,255,1);		}
[data-color="pink"]		{	background-color:	#E91E63 !important;	color:	rgba(255,255,255,1);		}
[data-color="purple"]		{	background-color:	#9C27B0 !important;	color:	rgba(255,255,255,1);		}
[data-color="deep-purple"]	{	background-color:	#673AB7 !important;	color:	rgba(255,255,255,1);		}
[data-color="indigo"]		{	background-color:	#3F51B5 !important;	color:	rgba(255,255,255,1);		}
[data-color="blue"]		{	background-color:	#2196F3 !important;	color:	rgba(0, 0, 0, 0.77);		}
[data-color="light-blue"]	{	background-color:	#03A9F4 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="cyan"]		{	background-color:	#00BCD4 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="teal"]		{	background-color:	#009688 !important;	color:	rgba(255,255,255,1);		}
[data-color="green"]		{	background-color:	#4CAF50 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="light-green"]	{	background-color:	#8BC34A !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="lime"]		{	background-color:	#CDDC39 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="yellow"]		{	background-color:	#FFEB3B !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="amber"]		{	background-color:	#FFC107 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="orange"]		{	background-color:	#FF9800 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="deep-orange"]	{	background-color:	#FF5722 !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="brown"]		{	background-color:	#795548 !important;	color:	rgba(255,255,255,1);		}
[data-color="grey"]		{	background-color:	#9E9E9E !important;	color:	rgba(0 ,0 ,0 ,0.77);		}
[data-color="blue-grey"]	{	background-color:	#607D8B !important;	color:	rgba(255,255,255,1);		}