* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#root {
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}
body, html {
  height: 100%;
}

body {
	font-family: 'Roboto Mono', monospace;
	font-size: medium;
	color: rgba(0,0,0,0.77);
	background: #FAFAFA;
	padding-right: 100px;
	overflow: hidden;
}

p {
	display: block;
	height: auto;
}

nav#sidebar {
	position: fixed;
	top: 0; right: 0;
	height: 100%;
	width: 100px;
	background: #FAFAFA;
}

nav#bottombar {
	position: fixed;
	overflow: hidden;
	bottom: 0; left: 0;
	height: 100px;
	width: 100%;
	background: #FAFAFA;
}

#overlay{
	position: fixed;
	top: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.7;
	transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

div.note-content {
	min-height: 50px;
	max-height: 266px;
	overflow: hidden;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0.1) 100%);
	mask-image: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0.1) 100%);;
}
h1.note-title {
	font-size: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
h4.note-date {
	font-size: 12px;
	opacity: 0.7;
}
header.note-header {
	margin-right: 100px;
	height: 70px;
}
div#note-container {
	height: auto;
	width: 100%;
	padding: 74px 16px 116px 74px;
}

article.note-card {
  background-color:	#2196F3;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  min-height: 150px;
  max-height: 400px;
  margin: 24px;
  padding: 32px;
  position: relative;
  width: 400px;
  min-width: 200px;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  user-select: none;
  cursor: pointer;
}

article.note-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ul {
	position: absolute;
	list-style-type: none;
}

.type-mono {
	font-family: 'Roboto Mono', monospace;
}

.type-bold {
	font-weight: 700;
}

#njs-text {
	height: 100px;
    display: inline-block;
    line-height: 100px;
	font-size: 32px;
	color: #2196F3;
}

#add-note 	 {	background-image: url('../img/icon/add-icon.svg');		}
#star-note 	 {	background-image: url('../img/icon/star-note.svg');		}
#setting 	 {	background-image: url('../img/icon/setting-icon.svg');	}
#search-note {
	position: absolute;
	background-image: url('../img/icon/search-icon.svg');
	bottom: 0; right: 0;
}

#njs-icon {
	position: relative;
	background-image: url('../img/icon/note-logo.svg');
	height: 100px;
	width: 100px;
	background-color: transparent;
	background-size: 48px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 32px;

}

#njs-icon::before {
	content: "";
	height: 100px;
	width: 100px;
	content: "";
	position: absolute;
	background: #2196F3;
	height: 100px;
	width: 100px;
	z-index: -1;
}
.bt-sidebar {
	display: block;
}

.bt-bottombar {
	display: inline-block;
	float: left;
}

.bottom-container {
	height: 100%;
}



.bt-bar {
	position: relative;
	height: 100px;
	width: 100px;
	border:none;
	outline: none;
	background-color: transparent;
	background-size: 48px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.bt-bar::after {
	content: "";
	background-image: url('../img/icon/icon-bd.svg');
	background-color: transparent;
	background-size: 76px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
  	height: 100px;
	width: 100px;
  	opacity: 0;
  	transform: scale(0.8);
  	
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	z-index: -1;
}
.bt-bar:not(.btn-active):hover::after {
	opacity: 1;
	transform: scale(1);
}

.bt-active::before {
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.13);
	height: 100px;
	width: 100px;

}

.hidden { display: none; }

#root::-webkit-scrollbar {
    width: 4px;
}
 
#root::-webkit-scrollbar-track {
    opacity: 0;
}
 
#root::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.12);
}